{% load static%}
<!doctype html>
<html class="no-js" lang="en" dir="litr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "foundation/css/foundation.css" %}">
    <style>
      {{ bgimg }}
      {% if not bgimg %} 
        body{background-image:url("https://i.imgur.com/lMtXdT7.jpg");}
      {% endif %}
      .content{display: block; background: rgba(255,255,255,0.75); width: 700px; position: relative; z-index: 1; top: 10px; text-align: center; margin: auto; border: 10px transparent;}
    </style>
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">{{ page }}</li>
	  <li><a href="{{ firstURL }}">{{ firstpage }}</a></li>
	  <li><a href="{{ secondURL }}">{{ secondpage }}</a><li>
	  <li><a href="{{ thirdURL }}">{{ thirdpage }}</a><li>
	  <li><a href="{{ fourthURL }}">{{ fourthpage }}</a><li>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="menu">
          {% if user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
          {% else %}
	  <li><a href="/login/?next={{ loginredirect }}">Log In</a></li>
            <li><a href="/register">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="content">
      <h3>{{ header }}</h3>
      {{ body }}
    </div>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% block scripts %}
    {% endblock %}

  </body>
</html>
