{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Hello World!</title>
	</head>
	<style type="text/css">
body {
	background-color: #676666;
	color: White;
}
	</style>
	<body>	
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		{{ body }}
		<div id="app">
			<span v-if="seen">
				<ol>
					{% for item in item_list %}
					<li> {{ item }} </li>
					{% endfor %}
				</ol>
			</span>
			<span v-if="unseen">
				<ol>
					<li v-for="todo in Playlist"> 
						{% verbatim %}
						{{ todo.Song_Name }} 
						{% endverbatim %}
					</li>
				</ol>
			</span>
		</div>
		<form action="/" method="post">
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Add Song">
		</form>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="{% static "js/myvue.js" %}"></script>
	</body>
</html>
